<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.logan.test2.com.android.teamstats">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.logan.test2.com.android.teamstats.Activity.HomepageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.logan.test2.com.android.teamstats.Activity.SettingsActivity" />
        <activity android:name="com.example.logan.test2.com.android.teamstats.Activity.SendFeedbackActivity" />
        <activity android:name="com.example.logan.test2.com.android.teamstats.Activity.AddPositionActivity"
                  android:background="@color/Linen" />
        <activity android:name="com.example.logan.test2.com.android.teamstats.Activity.ListPositionsActivity" />
        <activity android:name="com.example.logan.test2.com.android.teamstats.Activity.ListTeamsActivity" />
        <activity
            android:name="com.example.logan.test2.com.android.teamstats.Activity.CreateTeamActivity"
            android:theme="@style/AppTheme.myTheme"
            android:label="Enter Team Name"
            android:background= "@color/Linen"
            />
        <activity
            android:name="com.example.logan.test2.com.android.teamstats.Activity.TeamPageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.example.logan.test2.com.android.teamstats.Activity.AddStatisticsActivity" />
        <activity android:name="com.example.logan.test2.com.android.teamstats.Activity.ListStatisticsActivity" />
        <activity android:name="com.example.logan.test2.com.android.teamstats.Activity.EditStatsActivity"></activity>
    </application>

</manifest>